
 body {
 background-color: #adc3d6;
 margin-left: 20%;
 margin-right: 20%;
 border: 3px solid white;
 padding: 10px 10px 10px 10px;
  
 }
h1,p,h2{
    font-family: 'Time news roman';
    color: #192841;
}
